@page
@model PearlNecklaceDbWebApiConsumerSPA.Pages.NecklacesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Necklace List";
}
<div class="row">
    <h1 class="display-2">@ViewData["Title"]</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Necklace Detail</th></tr>
        </thead>
        <tbody>
            @if (Model.Necklaces != null)
            {
                @foreach (var necklace in Model.Necklaces)
                {
                    <tr>
                        <td>@necklace</td>
                        <form method="post">
                            <td><button class="btn btn-default" asp-page-handler="delete" asp-route-id="@necklace.NecklaceID.ToString()">Delete</button></td>
                            <td><button class="btn btn-default" asp-page-handler="edit" asp-route-id="@necklace.NecklaceID.ToString()">Edit</button></td>
                        </form>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <p>Enter details for a new Necklace</p>
                <form method="post">
                    <div><input asp-for="NewNecklace.Name" placeholder="NewNecklace.Name"/></div>
                    <button class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="col">
                <p>Edit details for an existing Necklace @Model.UpdatedNecklace?.NecklaceID</p>
                <form method="post">
                    <div><input asp-for="UpdatedNecklace.Name" placeholder="UpdatedNecklace.Name"/></div>
                    <button class="btn btn-primary" asp-page-handler="update" asp-route-id="@Model.UpdatedNecklace?.NecklaceID.ToString()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>