@page
@model PearlNecklaceDbWebApiConsumerSPA.Pages.PearlsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Pearl List";
}
<div class="row">
    <h1 class="display-2">@ViewData["Title"]</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr><th>Pearl Detail for necklace @Model.Necklace</th></tr>
        </thead>
        <tbody>
            @if (@Model.Necklace != null)
            {
                @foreach (var pearl in @Model.Necklace._pearls)
                {
                    <tr>
                        <td>@pearl</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
